.Container {
	position: relative;
	width: 50%;
	height: 400px;
}

.Center {
    position: absolute;
    left: 50%;
    width: 100%;
    height: 400px;
    padding: 3em 1em 1em;
    border: 1px solid #d8d8d8;
    margin: 1.5rem 0 0;
}

.Button {
    display: block;
    margin: auto;
}